@import url('https://fonts.googleapis.com/css2?family=Inter&family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    font-family: 'Inter', sans-serif;
}
.container{
    margin: 0 auto;
}
.person_card{
    padding: 50px;
    max-width: 100%;
    width: 800px;
    margin: 30px auto 0 auto;
    text-align: center;
    border: 2px solid white;
    box-shadow: 0px 0px 50px 15px rgba(0, 0, 0, 0.09) ;
    border-radius: 8px;
}
.card_personal_image{
    border-radius: 50%;
    margin: 30px 0px;
    max-width: 100%;
    width: 200px;
    height: 200px;
    object-fit: cover;
}

.card_person_nickname{
    margin-bottom: 30px;
    font-size: 30px;
    font-weight: bolder;
}

.card_person_description{
    margin: 0 auto;
    max-width: 100%;

}

.card_person_description_text{
    font-size: 20px;
    line-height: 32px;

}