ul{
    list-style: none;
    font-size:  30px;
    padding: 30px;
    margin: 20px;
    text-align: center;

  }
  ul li{
    display: inline-block;

  
  }
  ul li a{
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-size: 19px;
    font-family: Arial, Helvetica, sans-serif;
    text-transform: uppercase;
    background-color: rgb(101, 24, 189);
    padding: 15px;
    margin: 5px;
    }
